<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título da Página</title>
    <link rel="stylesheet" href="../../input.css">
</head>
<body class="bg-green-400">

{{>partials/header}}

Opa {{name}} {{lastName}}, tudo bem?
{{#showOld}}
    Como vai a vida?
{{/showOld}}
{{^showOld}}
    Beleza?
{{/showOld}}

<hr/>
<fieldset>
   

    <legend class="text-red-950 bg-green-400 ">Novo Usuário</legend>
    <form method="POST" action="/novousuario">
        <input type="text" name="name" placeholder="Digite um nome" /><br/><br/>
        <input type="text" name="age" placeholder="Digite uma idade" /><br/><br/>
        <input type="submit" value="Inserir Usuário" />
        
    </form>
</fieldset>
<h2 class="text-blue-500">Usuários do banco</h2>

<table>
    <thead>
        <tr>
            <th > Nome  </th>
            <th> Idade </th>
            <th> MAIS </th>
            <th> MENOS </th>
            <th> EXCLUIR </th>
        </tr>
    </thead>
    <tbody>
        {{#users}}
        <tr>
            <td>{{name}} </td>
            <td>{{age}}</td>
            <td>
            <a href="/usuario/{{id}}/mais"><button name="button">+</button> </td>
            <td>
                
                <a href="/usuario/{{id}}/menos"> <input type="submit" value="-" /> </a> 
                
            </td>
            <td><a href="/usuario/{{id}}/excluir" ><button name="button">Excluir</button></a> </td>
        </tr>
        {{/users}}
    </tbody>
</table>

<!--
<h2>Usuários do banco</h2>
<ul>
    {{#users}}
        <li>{{name}}
          Idade: {{age}}
          <a href="/usuario/{{id}}/mais"> + </a>
          <a href="/usuario/{{id}}/menos"> - </a>
          <a href="/usuario/{{id}}/excluir">excluir</a>
         </li>
    {{/users}}
</ul>
-->
<hr/>
<h2 >Produtos</h2>
<ul>
    {{#products}}
        {{>partials/productItem}}
    {{/products}}
</ul>

<hr/>
<h2>Produtos a partir de R$ 12</h2>
<ul>
    {{#expensives}}
        {{>partials/productItem}}
    {{/expensives}}
</ul>

<hr/>

<ul>
    {{#frasesDoDia}}
        <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
       <h1 class="text-red-950"> Não há frases motivacionais hoje.</h1>
    {{/frasesDoDia}}
</ul>

{{>partials/footer}}
</body>

</html>