<html>
<head>
 <style>


        .form-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            max-width: 400px;
            width: 100%;
        }

        .form-container h2 {
            margin-top: 0;
            color: #009879;
        }

        .form-container input[type="text"],
        .form-container input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-container input[type="text"]::placeholder {
            color: #888;
        }

        .form-container input[type="submit"] {
            background-color: #009879;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

        .form-container input[type="submit"]:hover {
            background-color: #007a63;
        }


        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 1.2em;
            font-family: 'Arial', sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }
        th, td {
            padding: 12px 15px;
        }
        tbody tr {
            border-bottom: 1px solid #dddddd;
        }
        tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }
        tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
        tbody tr:hover {
            background-color: #f1f1f1;
        }
        a {
            text-decoration: none;
            color: #009879;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
    <title>Página contato</title>
</head>
<body>
    <h1>Titulo da página</h1>

    <hr/>

    
<hr/>
 
